.singleMainProductWrapper{
    width:100%;
    min-height: 100dvh;
    display:flex;
    justify-content: center;
    padding:70px 20px
}
.singleProductWrapper{
    width:100%;
    height: 100%; 
    max-width: 2000px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.singleProductContainer{
    width:80%;
    height:70% ;
    display:flex;
    gap:20px;
    padding: 70px 20px;
}
.singleProductLeftSection{
    width:55%;
    height:100% ;
    border:1px solid gray;
    padding: 30px 20px ;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
/* .mainImg{
width:100%;
height: 200px;
margin-bottom: 20px;
} */
.singleProductRightSection{
    width:40%;
    height:100% ;
    display:flex;
    flex-direction: column;
    gap:10px;
    padding: 30px 10px;
}

.singleProductImgsSection{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;

}
.singleProductImgsSection img{
    width:50px;
    height: 50px;
    border:1px solid gainsboro;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.throwLineClass{
    text-decoration: line-through;
    color:gray
}
.price{
    color:#D52627;
    font-weight: bold;
}
.discount{
        color:#D52627;
        font-weight: bold;

}
@media screen and (max-width: 450px) {
    .singleProductContainer{
        flex-direction: column;
        width:90%;
        align-items: center;
    }
    .singleProductLeftSection{
        width:90%
    }
    .singleProductRightSection{
        width:90%
    }
        
}
.imgContainer{
    width:100%;
    height: 200px;
    margin-bottom: 20px; 
    position: relative;
    overflow: hidden;
}
.mainImg{
    width:100%;
    height: 200px;
    margin-bottom: 20px;
    position: absolute;
    top:0;
    left:100%;
    transition: left 0.75s linear;
    -webkit-transition: left 0.75s linear;
    -moz-transition: left 0.75s linear;
    -ms-transition: left 0.75s linear;
    -o-transition: left 0.75s linear;
    opacity: 0;
}
.animationClass{
    left:0;
    opacity: 1;
}